html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}
::selection {
  background: #00c7b7;
  color: #fff;
}
.header {
  background: #162329;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.09);
}

.menu {
  display: flex;
  color: #fff;
  list-style: none;
}
.menu-item {
  margin-left: 5px;
}

.footer {
  width: 100%;
  bottom: 0;
  color: white;
  background: #162329;
  min-height: 100px;
  text-align: center;
}
.content {
  height: 100%;
  background: #f4f7f8;
  padding: 60px 20px 10px 20px;
}
h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-left: 5px;
  color: goldenrod;
}
